* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-size: var(--font-size-p);
}

body {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font-size-p: 18px;

    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    height: 10vh;
    padding: 0 3vh;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100vw - 6vh);
}

nav button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: var(--medium-gray);
}

.logo,
.menu-icon {
    display: block;
}

.menu,
.menu-bg-darkener {
    display: none;
}

.open-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--almost-white);
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 10;
    width: 250px;
    padding: 3vh;
}

.darkener-on {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

.close-btn {
    align-self: flex-end;
}

.quadruple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3vh;
}

.quadruple button {
    margin-bottom: 3vh;
}

.double button {
    margin-bottom: 3vh;
}

.double {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.features-list,
.company-list {
    display: none;
    width: 100%;
    margin-bottom: 3vh;
    color: var(--medium-gray);
}

.features-btn,
.company-btn {
    min-width: fit-content;
    display: flex;
    align-items: center;
}

.features-btn img,
.company-btn img {
    margin-left: 0.5rem;
}

.open-menu-list {
    display: block;
}

.todo,
.calendar,
.reminders,
.planning {
    display: flex;
    align-items: center;
}

.todo img,
.calendar img,
.reminders img,
.planning img {
    margin: 0 1.5rem;
    transform: scale(1.5);
}

.company-list p {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
}

.features-up-arrow,
.company-up-arrow {
    display: none;
}

.arrow-shown {
    display: block;
}

.arrow-hidden {
    display: none;
}

.register {
    border: 1px solid;
    padding: 0.75rem 1rem;
    border-radius: 10px;
}

/* MAIN */

main {
    min-height: 90vh;
}

.hero-image img {
    width: 100%;
}

.title,
.title span {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    color: var(--almost-black);
}

.break {
    display: none;
}

.info {
    padding: 0 3vh;
    text-align: center;
    line-height: 1.85rem;
    color: var(--medium-gray);
    letter-spacing: 0.035rem;
}

.learn-more {
    margin: auto;
    display: block;
    border: none;
    background: var(--almost-black);
    color: var(--almost-white);
    font-weight: 700;
    padding: 1.25rem 1.75rem;
    border-radius: 10px;
}

.hero-clients {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 769px) {
    /* HEADER */
    nav {
        justify-content: initial;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .menu-btn {
        display: none;
    }

    .logo-btn {
        margin-right: 6vh;
    }

    .menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .close-icon {
        display: none;
    }

    .quadruple,
    .double {
        display: flex;
    }

    .quadruple {
        border: none;
        flex-direction: row;
        align-items: center;
        margin-top: 0;
        position: relative;
        margin-right: auto;
    }

    .double {
        border: none;
        flex-direction: row;
        margin-top: 0;
    }

    .quadruple button,
    .quadruple div {
        margin: 0;
    }

    .double button {
        margin-bottom: 0;
    }

    .quadruple button {
        margin-right: 2rem;
    }

    .double button {
        margin-left: 2rem;
    }

    .features-list,
    .company-list {
        position: absolute;
        box-shadow:
        0px 1px 2.2px rgba(0, 0, 0, 0.02),
        0px 2.5px 5.3px rgba(0, 0, 0, 0.028),
        0px 4.6px 10px rgba(0, 0, 0, 0.035),
        0px 8.3px 17.9px rgba(0, 0, 0, 0.042),
        0px 15.5px 33.4px rgba(0, 0, 0, 0.05),
        0px 37px 80px rgba(0, 0, 0, 0.07)
        ;
        background: white;
        padding: 1rem;
        top: 50px;
    }

    .features-list {
        left: -100px;
        width: 200px;
    }

    .company-list {
        width: fit-content;
        left: 130px;
    }

    .company-list p {
        margin: 18px;
        margin-bottom: 34px;
    }

    .company-list p:nth-child(3) {
        margin-bottom: 18px;
    }

    /* MAIN */
    main {
        display: grid;
        grid-template-areas:
            "info-cta image"
            "clients image";
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 0.25fr;
        column-gap: 10vw;
        padding: 5% 10% 7% 10%;
        max-height: 90vh;
        margin: auto;
    }

    .hero-image {
        grid-area: image;
        margin-right: 10%;
        display: flex;
        width: 100%;
    }

    .hero-image img {
        display: block;
        margin-left: auto;
        min-width: 425px;
        max-width: fit-content;
        max-height: 100%;
        object-fit: contain;
    }

    .hero-info-cta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .title,
    .info,
    .learn-more {
        margin: 0;
    }

    .title,
    .info {
        text-align: start;
    }

    .title,
    .title span {
        font-size: 72px;
        font-weight: 700;
    }

    .break {
        display: initial;
    }

    .info {
        padding: 0;
        max-width: 450px;
    }

    .learn-more {
        margin-right: auto;
        border: 1px solid var(--almost-black);
    }

    .learn-more:hover {
        color: var(--almost-black);
        background-color: var(--almost-white);
    }

    .hero-clients {
        margin-top: 0;
        align-items: flex-end;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 525px;
    }
}