* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-size: var(--font-size-p);
}

body {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font-size-p: 18px;

    margin-top: 3vh;
}

header {
    height: 10vh;
    border: 5px solid red;
}

main {
    min-height: 88vh;
    border: 5px solid orange;
}

.attribution {
    height: 5vh;
    border: 5px solid yellow;
}

@media (min-width: 769px) {
    body {
        background: red;
    }
}


