* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-size: var(--font-size-p);
}

body {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font-size-p: 18px;

    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
}

/* HEADER */

header {
    height: 10vh;
    /* border: 5px solid red; */
    padding: 0 3vh;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100vw - 6vh);
    /* border: 1px solid blue; */
}

nav button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: var(--medium-gray);
}

.logo,
.menu-icon {
    display: block;
}

.menu {
    display: none;
}

.features,
.company {
    min-width: fit-content;
    display: flex;
    align-items: center;
}

.features img,
.company img {
    margin-left: 0.5rem;
}

.register {
    border: 1px solid;
    padding: 0.75rem 1rem;
    border-radius: 10px;
}

/* MAIN */

main {
    min-height: 90vh;
}

.hero-image img {
    width: 100%;
}

.title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    color: var(--almost-black);
}

.info {
    padding: 0 3vh;
    text-align: center;
    line-height: 1.85rem;
    color: var(--medium-gray);
    letter-spacing: 0.035rem;
}

.learn-more {
    margin: auto;
    display: block;
    border: none;
    background: var(--almost-black);
    color: var(--almost-white);
    font-weight: 700;
    padding: 1rem 1.25rem;
    border-radius: 10px;
}

.attribution {
    height: 5vh;
}

.hero-clients {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 769px) {
    /* HEADER */
    nav {
        justify-content: initial;
    }

    .menu-btn {
        display: none;
    }

    .logo-btn {
        margin-right: 2rem;
    }

    .menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .close-icon {
        display: none;
    }

    .quadruple,
    .double {
        display: flex;
    }

    .quadruple button {
        margin-right: 2rem;
    }

    .double button {
        margin-left: 2rem;
    }

    .up-arrow {
        display: none;
    }

    .features-list,
    .company-list {
        display: none;
    }

    /* MAIN */
    main {
        display: grid;
        grid-template-areas:
            "info-cta image"
            "clients image";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.25fr;
        column-gap: 10vw;
        padding: 10%;
        max-height: 90vh;
        margin: auto;
    }

    .hero-image {
        grid-area: image;
        display: flex;
        align-items: center;
    }

    .hero-image img {
        height: 100%;
        object-fit: cover;
    }

    .hero-info-cta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .title,
    .info,
    .learn-more {
        margin: 0;
    }

    .title,
    .info {
        text-align: start;
    }

    .info {
        padding: 0;
    }

    .learn-more {
        margin-right: auto;
    }

    .hero-clients {
        margin-top: 0;
        align-items: flex-end;
        gap: 1rem;
        justify-content: space-between;
    }

}


